{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if view.current_display == 'block_latest_news' %}
	{% if rows %}
	<div class="container">
	{% if header %}
		<div class="row">
            <div class="col-md-12 text-center">
				<!-- START SECTION TITLE -->
				<div class="section_title">
					{{ header }}
				</div>
			</div>
		</div>
	{% endif %}
		<div class="inner_latest_news">
            <div class="row">
				{{ rows }}
            </div>
        {% if footer %}
    		<div class="row">
				{{ footer }}
            </div>
        {% endif %}
        </div>
	</div>
	{% endif %}
{% endif %}