/*BUTTONS*/
.white_bg{
  background-color: #fff;
}
.btn-lg{
  padding: 15px 50px;
}
.btn-md{
  padding: 12px 40px;
}
.btn-sm{
  padding: 10px 30px;
}
.btn-xs{
  padding: 8px 20px;
}
.buttons_inner .btn{
  display: block;
  margin-bottom: 10px;
}

.btn i{
  padding-right: 10px;
}
.btn_st_one, .btn_st_one:active, .btn_st_one:visited, .btn_st_one:focus{
  background-color: #333;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0 !important;
  border-radius: 0px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 0px solid #333;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn_st_one:hover{
  background-color: #111;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn_st_two, .btn_st_two:active, .btn_st_two:visited, .btn_st_two:focus{
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0;
  border-radius: 0;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn_st_two:hover{
  background-color: #333;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn_st_three, .btn_st_three:active, .btn_st_three:focus, .btn_st_three:visited{
  background-color: #1cbac8;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0 !important;
  border-radius: 0px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 0px solid #333;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn_st_three:hover{
  background-color: #1cbac8;
}
.btn_st_four, .btn_st_four:active, .btn_st_four:focus, .btn_st_four:visited{
  background-color: transparent;
  color: #333;
  border: 2px solid #1cbac8;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0;
  border-radius: 0;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn_st_four:hover{
  background-color: #1cbac8;
  border: 2px solid #1cbac8;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.bt-rd{
  border-radius: 30px;
}
.btn_st_three{

}