/*FORM*/
.shortcode_form .form-control, .shortcode_form .form-control:active, .shortcode_form .form-control:visited, .shortcode_form .form-control:focus {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: none;
  outline: 0;
  height: 35px;
  border-radius: 0px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.has-success .form-control {
  border-color: #3c763d !important;
}
.has-warning .form-control {
  border-color: #8a6d3b !important;
}
.has-error .form-control {
  border-color: #a94442 !important;
}