

#footer{
  background-color:#1a1a1a;
}

#footer-main {
  padding-top: 50px;
}

.footer-sub{
  padding-bottom:50px;
}

#footer-main h2{
  color: #f8f8f8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 25px;
}

#footer-main ul {
  list-style: none;
}
#footer-main ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #272727;
}


#footer-main  a {
  font-size: 14px;
  color: #CACACA;
  text-decoration: none;
  font-weight: 300;
}
#footer-copyright{
  background-color:#111111;
}

