<form{{ attributes }}>
	{% set id = attributes|strpos('products-search') %}
	{% if id is not empty %}
	<i class="pe-7s-search"></i>
	{{ children|render|str_replace_first('form-text', 'form-text form-control')|str_replace('value="Search"', 'value=""')|str_replace('type="text"', 'type="text" placeholder="Search Here ..."')|raw }}
	{% elseif attributes|strpos('products-sort') is not empty %}
	{{ children|render|str_replace('form-select', 'form-select form-control products-sort')|raw }}
	{% else %}
	{{ children }}
	{% endif %}
</form>