

/*---------------------------------------
PRICING
-----------------------------------------*/
.pricing{
  padding-top: 120px;
  padding-bottom: 120px;
}
.inner_plan{}
.single_pricing{
  border: 1px solid #eee;
  margin: 15px;
  box-shadow: 0px 1px 5px #eee;
}
.pricing_header{
  padding-top: 30px;
  padding-bottom: 20px;
}
.pricing_header h3{
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 10px;
}
.price{}
.price span.currency{
  font-size: 14px;
  color: #333;
}
.price span.duration{
  font-size: 14px;
  color: #333;
}
.price span.value{
  font-size: 40px;
  color: #333;
}
.pricing_body{
  padding-left: 50px;
  padding-right: 50px;
}
.pricing_body ul{
  margin:0;
  padding: 0;
  list-style: none;
}
.pricing_body ul li{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #585858;
}
.pricing_footer{
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn_price, .btn_price:focus, .btn_price:visited, .btn_price:active{
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  border-radius: 0px;
  box-shadow: none;
  font-weight: 600;
  outline: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 10px 25px;
  letter-spacing: 1px;
}
.btn_price:hover{
  color: #fff;
  background-color: #1cbac8;
  border-color: #1cbac8;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.pricing_focus .pricing_header h3{
  color: #1cbac8;
}
.pricing_focus .price span.currency{
  color: #1cbac8;
}
.pricing_focus .price span.value{
  color: #1cbac8;
}
.pricing_focus .price span.duration{
  color: #1cbac8;
}
.pricing_focus .pricing_footer .btn_price{
  background-color: #1cbac8;
  border-color: #1cbac8;
  color: #fff;
}
@media(max-width: 991px){
  .single_pricing{
    margin: 0px;
  }
}
@media(max-width: 768px){
  .single_pricing{
    margin: 80px;
  }
}
@media(max-width: 450px){
  .single_pricing{
    margin: 50px;
  }
}
@media(max-width: 400px){
  .single_pricing{
    margin: 0px;
    margin-bottom: 50px;
  }
}