
/*---------------------------------------
SHOP
-----------------------------------------*/
.product_list_area{}
.product_search_details{
  padding-bottom: 40px;
}
.product_search_details ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.product_search_details ul li{
  display: inline-block;
  color: #585858;
  font-size: 14px;
}
.product_search_details ul li:first-child{
  width: 200px;
  margin-right: 10px;
}
.product_search_details ul li form{}
.product_search_details ul li form .form-control, .product_search_details ul li form .form-control:focus{
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
  color: #585858;
}
.product_list{
  padding-bottom: 60px;
}
.product_image{
  position: relative;
}
.product_image img{
  width: 100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.product_image a:hover img{
  opacity: .8;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.sale_label{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1cbac8;
}
.sale_label h2{
  margin: 0px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}
.product_desc{}
.product_title{
  margin-top: 10px;
  margin-bottom: 10px;
}
.product_title h2{
  margin: 0px;
}
.product_title h2 a{
  color: #333;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.product_price{
  margin-bottom: 10px;
}
.product_price p{
  color: #333;
  font-size: 15px;
  margin: 0px;
}
.product_price p del{
  font-size: 13px;
  color: #585858;
  margin-right: 5px;
}
.product_review{}
.product_review i{
  color: #585858;
}
.product_btn{
  margin-top: 15px;
}
.btn_pr, .btn_pr:active, .btn_pr:focus, .btn_pr:visited{
  border: 2px solid #333;
  background-color: transparent;
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none;
  outline: 0;
  border-radius: 0px;
  padding: 5px 15px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn_pr:hover{
  background-color: #333;
  color: #fff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

}
.btn_pr i{
  padding-right: 3px;
}

/*Single Product*/
.e_product_slider{}
.e_product_slider:hover .owl-controls{
  opacity: 1;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.e_product_slider .owl-controls{
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -30px;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.e_product_slider .owl-controls .owl-nav [class*=owl-],.e_product_slider .owl-controls .owl-nav [class*=owl-]:hover{
  background-color: #fff;
  font-size: 20px;
  border-radius: 0px;
  width: 40px;
  height: 60px;
  margin: 0;
}
.e_product_slider .owl-controls .owl-nav [class*=owl-].owl-next{
  position: absolute;
  right: -1px;
}
.e_product_slider .owl-controls .owl-nav [class*=owl-].owl-prev{
  position: absolute;
  left: 0;
}
.e_product_slider .owl-controls .owl-nav [class*=owl-] i{
  font-size: 30px;
  color: #333;
  line-height: 55px;
}
.left_prodoct_desc_single{
  padding-top: 20px;
  padding-bottom: 20px;
}
.left_product_heading{
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.pr_title_review{}
.pr_title_review h2{
  margin: 0px;
  line-height: 0px;
  margin-bottom: 24px;
}
.pr_title_review h2 a{
  font-size: 14px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
.left_reviwq_star{}
.left_reviwq_star i{
  color: #585858;
}
.single_pr_price{
  text-align: right;
}
.single_pr_price h2{
  color: #333;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.single_pr_review{
  text-align: right;
  padding-top: 10px;
}
.single_pr_review p{
  color: #585858;
  font-size: 14px;
  margin-bottom: 0px;
}
.left_product_desc{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.left_product_desc p{
  color: #585858;
  font-size: 14px;
  line-height: 24px;
}
.left_product_desc h6{
  color: #585858;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.left_product_desc h6 a{
  color: #333;
  font-size: 14px;
  text-decoration: none;
}
.product_size_color{
  padding-top: 20px;
  padding-bottom: 20px;
}
.product_size_color h3{
  color: #585858;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 10px;
}
.product_size{
  margin:0;
  padding:0;
  list-style: none;
}
.product_size li{
  display: inline-block;
  padding-right: 5px;
}
.product_size li label input{
  left: -9000px;
  position: absolute;
}
.product_size li label span{
  border: 1px solid rgba(0,0,0,.2);
  color: #585858;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  line-height: 33px;
  margin: 0;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 40px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.product_size li label input:checked+span{
  background-color: #333;
  color: #fff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.select_color .form-control{
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
  color: #585858;
  height: 35px;
}
.product_quantity{}
.product_quantity h3{
  color: #585858;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 10px;
}
.product_quantity .input-group .form-control, .product_quantity .input-group .form-control:focus{
  width: 40px;
  height: 35px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
  padding: 7px;
  color: #585858;
  text-align: center;
}
.product_quantity .input-group{
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
.product_quantity .sp_plus, .product_quantity .sp_plus:hover, .product_quantity .sp_plus:active, .product_quantity .sp_plus:focus, .product_quantity .sp_plus:visited{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px;
  height: 35px;
  box-shadow: none;
  outline: 0;
  width: 40px;
  background-color: #333;
  color: #fff;
  border-color: #333;
}
.product_quantity .sp_minus, .product_quantity .sp_minus:hover, .product_quantity .sp_minus:active, .product_quantity .sp_minus:focus, .product_quantity .sp_minus:visited{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 35px;
  box-shadow: none;
  outline: 0;
  border-radius: 0px;
  background-color: #333;
  color: #fff;
  border-color: #333;
}
.cart_button{
  padding-top: 50px;
}
.btn_crt, .btn_crt:focus, .btn_crt:active, .btn_crt:visited, .btn_crt:hover{
  background-color: #1cbac8;
  color: #fff;
  border-radius: 0;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 20px;
  box-shadow: none;
  outline: 0;
}
.btn_crt i{
  padding-right: 5px;
}
.product_extra_info{
  padding-top: 50px;
  padding-bottom: 50px;
}
.product_extra_info{}
.product_extra_info .nav-tabs > li{
  margin: 0px;
}
.product_extra_info .nav-tabs > li a, .product_extra_info .nav-tabs > li a:hover, .product_extra_info .nav-tabs > li a:focus, .product_extra_info .nav-tabs > li a:visited{
  color: #585858;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: 0px;
  padding: 15px 25px;
  font-weight: 600;
  letter-spacing: 1px;
}
.product_extra_info .nav-tabs > li.active a{
  background-color: #333;
  color: #fff;
  border-color: #333;
}
.product_extra_info .nav-tabs{
  border-bottom: 0px;
}
.product_extra_info .tab-content > .active{
  border: 1px solid rgba(0,0,0,.2);
}
.product_extra_info .tab-pane{
  padding: 20px;
}
.product_more_info_tab{

}
.product_more_info_tab h2{
  color: #333;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.product_more_info_tab p{
  color: #585858;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.review_list{

}
.review_list ul{
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.review_list ul li{
  margin-bottom: 20px;
}
.review_list ul li:last-child{
  margin-bottom: 0px;
}
.review_list ul li .media{

}
.review_list ul li .media .media-left{
  padding-right: 25px;

}
.review_list ul li .media .media-left a{
  display: block;
  width: 70px;
  height: 70px;
}
.review_list ul li .media .media-left img{
  width: 100%;
}
.review_list ul li .media .media-body{
  vertical-align: middle;
  position: relative;
}
.review_list ul li .media .media-body h4{
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 5px;
}
.review_list ul li .media .media-body p{
  color: #585858;
  font-size: 14px;
  line-height: 25px;
  margin: 0px;
}
.comment_review{
  position: absolute;
  top: 0;
  right: 0;
}
.comment_review i{
  color: #585858;
}