/*---------------------------------------
ABOUT US
-----------------------------------------*/
.about_us_area{
  padding-top: 120px;
  padding-bottom: 100px;
}
.promo_box_s_one{
  padding-bottom: 80px;
}
.skills_area{
  padding-top: 80px;
}
.inner_slills_text{}
.inner_slills_text h4{
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 25px;
}
.inner_slills_text h6{
  font-size: 12px;
  position: relative;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
}
.inner_slills_text h6:before{
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 1px;
}
.inner_slills_text p{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
@media(max-width: 991px){
  .inner_slills_text{
    padding-bottom: 20px;
  }
}
.progress_bar{
  margin-top: 12px;
}
.progress {
  height: 5px;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar{

  box-shadow: none;
  transition: width 3s;
}
.skill_text{
  font-size: 14px;
  font-weight: 400;

  margin-bottom: 5px;
}
.single_progressbar{
  margin-bottom: 20px;
}

/*SKILLS AREA TWO*/
.skills_area_two{}
.skills_area_two .progress_bar{
  margin-top: 0px;
}
.skills_area_two .inner_slills_text h4{
  margin-top: 0px;
}
/*SKILL AREA THREE*/
.skills_area_three{
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.left_skill_image{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
}
.left_skill_image_fitness{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
}

@media(max-width: 991px){
  .left_skill_image{
    width: 0;
  }
  .left_skill_image_fitness{
    width: 0;
  }
}
.skills_area_three .inner_slills_text h3{
  font-size: 15px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
  letter-spacing: 1px;
}
.skills_area_three .inner_slills_text{}
.skills_area_three .progress_bar{
  padding-top: 30px;
}
.right_skill_wrapper{
  padding-left: 50px;
}


@media(max-width: 991px){
  .left_skill_image{
    width: 0%;
  }
}

/*ABOUT PAGE HEADER*/
.bg_type_p_header{
  background-size: cover;
  position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
}
.bg_type_p_header:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
}

.faq_area{
  padding-top: 100px;
  padding-bottom: 100px;
}
.faq_area .panel-group .panel{
  border-radius: 0;
  border: 0;
  box-shadow: none;
  margin-bottom: 15px;
}
.faq_area .panel-default > .panel-heading{
  padding: 0;
  background-color: transparent;
  border: 1px solid #eee;
  border-radius: 0;
}
.faq_area .panel-heading .panel-title a{
  padding: 14px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.faq_area .panel-default > .panel-heading + .panel-collapse > .panel-body{
  border-top: 0;

}

.gallery_page_area{
  padding-top: 70px;
  padding-bottom: 70px;
}
.single_gallery_item{
  margin-bottom: 30px;
}
.single_gallery_item img{
  width: 100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.single_gallery_item:hover img{
  opacity: .8;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.fx-height{
  min-height: 240px;
}
.fx-height a img{
  width: 100%;
  height: 100%;
}
.fx-height-sm{
  min-height: 160px;
}
.landing-page-padding-title{
  padding-bottom: 100px;
}