/*---------------------------------------
              PORTFOLIO
-----------------------------------------*/
.portfolio{
  padding-top: 120px;
}
.cbp-l-caption-title {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.cbp-caption-activeWrap {
  background-: rgba(0,0,0,.9);
}
.cbp-l-caption-desc {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5px;
}
/*Have Project*/
.have_project{
  background-: #1cbac8;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.blank_text i{
  font-size: 40px;
}
.have_project h2{
  margin: 0px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 15px;
}
.btn_project,
.btn_project:active,
.btn_project:visited,
.btn_project:focus{
  background-: transparent;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0px;
  padding: 7px 20px;
  box-shadow: none;
  outline: 0 !important;
  text-align: right;
  margin-top: 4px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn_project:hover{
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.have_project .col-md-5{
  text-align: right;
}


@media(max-width: 768px){
  .blank_text{
    text-align: center;
  }
  .have_project h2{
    text-align: center;
  }
  .h_p_button{
    text-align: center;
    padding-top: 15px;
  }
}
