/*SINGLE PORTFOLIO*/
.portfolio_single_area{
  padding-top: 100px;
  padding-bottom: 100px;
}
.single_portfolio_title{
  padding-bottom: 30px;
}
.single_portfolio_title h2{
  margin: 0px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
#single_portfolio_slider .owl-controls{
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -30px;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
#single_portfolio_slider:hover .owl-controls{
  opacity: 1;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
#single_portfolio_slider .owl-controls .owl-nav [class*=owl-],.e_product_slider .owl-controls .owl-nav [class*=owl-]:hover{
  background-color: #fff;
  font-size: 20px;
  border-radius: 0px;
  width: 40px;
  height: 60px;
  margin: 0;
}
#single_portfolio_slider .owl-controls .owl-nav [class*=owl-].owl-next{
  position: absolute;
  right: -1px;
}
#single_portfolio_slider .owl-controls .owl-nav [class*=owl-].owl-prev{
  position: absolute;
  left: 0;
}
#single_portfolio_slider .owl-controls .owl-nav [class*=owl-] i{
  font-size: 30px;
  color: #333;
  line-height: 55px;
}
.project_details{
  padding-top: 20px;
}
.left_project_details_area{
  padding-top: 20px;
}
.left_project_details_area h2{
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px;
  margin-bottom: 20px;
}
.left_project_details_area p{
  font-size: 14px;
  color: #585858;
  line-height: 22px;
}
.right_link_area{
  padding-top: 60px;
}
.right_link_area h2{
  font-size: 14px;
  margin: 0px;
  margin-bottom: 10px;
  color: #585858;
}
.right_link_area h2 span{
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 5px;
}
.right_link_area h2 a{
  color: #585858;
  text-decoration: none;
}