body.maintenance-page {
    font-family: "Arial", sans-serif;
    background:#ddd url("../images/maintenance/circles.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.maintenance-page  #logo {
    display: block;
    width: 80px;
    height: 80px;
    background: url("../logo.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    padding: 0;
    margin: 0;

}
.maintenance-page  .title {
   float:left;
    padding-left:10px;
    line-height: 80px;
    font-size:80px;
    margin-bottom: 20px;
}

.maintenance-page  .hide {
    display: block;
    text-indent: -9999px;
}

.maintenance-page  main {
    margin: 0 auto;
    max-width: 650px;
}

.maintenance-page  main h2 {
    padding-top: 280px;
    text-align: center;
    padding-bottom: 0;
    margin: 0;
}

.maintenance-page  .inline {
    clear: both;
    width: 100%;
}

.maintenance-page  .inline p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.maintenance-page  .centered {
    text-align: center;
}

.maintenance-page  main h2 {
    font-size: 65px;
}

.maintenance-page  p {
    font-size: 14px;
    line-height: 26px;
}

@media screen and (max-width: 600px) {
    .maintenance-page  main  h2 {
        padding-top: 120px;
        font-size: 35px;
    }
    .maintenance-page  #logo {
        margin: 0 auto;
        float: none;

    }

    .maintenance-page  .title {
        float:left;
        padding-left:10px;
        line-height: 40px;
        font-size:40px;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}
