.single_promo_box_four h2 {

	text-transform: uppercase;

}

.latest_news_desc h2 a, .latest_news_desc h4 {

	text-transform: uppercase;

}

.uppercase, .single_client_desc h2 {

	text-transform: uppercase;

}

.latest_news_image img {

	height: auto;

}

.p-bottom0 {

	padding-bottom: 0;

}

.p-top0 {

	padding-top: 0;

}

.p-bottom100 {

	padding-bottom: 100px;

}

.skill_type_two_bg .skills_area_three {

	background-color: #222;

}

.videoWrapper {

	position: relative;

	padding-bottom: 56.25%; /* 16:9 */

	padding-top: 25px;

	height: 0;

}

.videoWrapper iframe {

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

}

.search-block-form .form-group input[type=submit] {

	position: absolute;

	right: 0;

	top: 0;

	height: 40px;

	background: transparent;

	border: 0;

	z-index: 999;

	width: 40px;

}

.pager__item--last i, .pager__item--first i {

	font-weight: bold;

	font-size: 14px;

}

.blog_page .block-system-main-block .col-2:nth-child(2n+1) {

	clear: left;

}

ul.links.inline{

    list-style: none;

}

ul.links.inline li[class^=comment] a {

	color: #333333;

    font-weight: 600;

    position: relative;

    text-decoration: none;

    text-transform: uppercase;

    font-size: 12px;

}

ul.links.inline li {

	float: left;

	margin-right: 20px;

}

.comment_info h2 span {

    font-size: 14px;

    color: #333333;

    font-weight: 600;

    text-decoration: none;

    text-transform: uppercase;

    letter-spacing: 1px;

}

.indented {

	margin-left: 50px;

}

.mini-page a.next {

	margin-left: 0 !important;

}

.mini-page a.prev {

	margin-right: 0 !important;

}

.work_page .pagination_area {

	margin-top: 40px;

}

.cbp-l-caption-title a {

	color: #ffffff;

}

.single-image img, .product_image img {

	width: 100%;

	height: auto;

}

span.categories a {

	font-weight: normal;

}

span.categories a:not(:last-child):after {

	content: ','

}

.term-page {

	padding-bottom: 100px;

}

.page_header_breadcumb ul li {

	text-transform: uppercase;

}

.content_area {

	padding-top: 100px;

	padding-bottom: 100px;

}

.views-exposed-form.search input.form-submit {

	position: absolute;

	top: 0;

	right: 0;

	height: 40px;

	width: 40px;

	border: none;

	background-color: transparent;

}

.views-exposed-form.search form {

	position: relative;

}

/* Shop CSS */

.product_btn form {

	position: relative;

}

.product_btn form i.fa-shopping-cart {

	position: absolute;

	left: 12px;

	top: 9px;

}

.product_btn form input[type=submit] {

	padding-left: 32px;

}

.product_btn form:hover i.fa-shopping-cart {

	color: #FFFFFF;

}

.product_list_area .col-md-6:nth-child(2n+1) {

	clear: left;

}

.product_list_area .col-md-4:nth-child(3n+1) {

	clear: left;

}

.form-control.products-sort {

	width: 200px;

	margin-right: 10px;

}

.product_search_details form .form-item {

	float: left;

}

.product_search_details {

	overflow: hidden;

}

.product_search_details .form-submit {

	margin-top: 25px;

    color: #585858;

    background-color: #FFFFFF;

    text-transform: uppercase;

    font-size: 14px;

    text-decoration: none;

    border: 1px solid rgba(0,0,0,.2);

    padding: 6px 15px;

    margin-right: 5px;

    margin-bottom: 10px;

    -webkit-transition: all .5s;

    -o-transition: all .5s;

    transition: all .5s;

}

.product_search_details .form-submit:hover {

	color: #FFF;

	background-color: #000;

}

.cart_button {

    /* padding-top: 50px; */

    position: relative;

}

.cart_button .button {

	padding-left: 35px;

}

.cart_button .fa-shopping-cart {

	position: absolute;

	left: 15px;

	bottom: 15px;

	color: #fff;

}

.product_quantity label {

	font-weight: normal;

}

.product_quantity .form-control {

	border-radius: 0;

}

.product_quantity {

	margin-top: 20px;

}

.review_list .single-comment {

    margin-bottom: 20px;

}

/* UC cart update css */

#uc-cart-view-form table thead, #uc-cart-checkout-form table thead {

	background-color: #f3f3f3;

}

#uc-cart-view-form table thead th, #uc-cart-checkout-form table thead th {

	padding: 5px 15px;

    font-family: 'Roboto', Arial, sans-serif;

    font-size: 13px;

    text-transform: uppercase;

    margin: 0;

    line-height: 40px;

}

#uc-cart-view-form table tbody tr, #uc-cart-checkout-form table tbody tr {

    border-bottom: 3px solid #f5f5f5;

    width: 100%;

    vertical-align: middle;

}

#uc-cart-view-form table tbody td, #uc-cart-checkout-form table tbody td {

	vertical-align: middle;

	padding: 15px 15px;

}

#uc-cart-view-form .form-submit, #uc-cart-checkout-form .form-submit {

    background-color: transparent;

    border: solid 1px #414141;

    color: #414141;

    padding: 8px 15px;

    text-transform: uppercase;

    margin-right: 10px;

}

#uc-cart-view-form #edit-continue-shopping {

	border: 1px solid rgba(0,0,0,.2);

}

#uc-cart-view-form .form-submit:hover, #uc-cart-checkout-form .form-submit:hover {

	background-color: #000000;

	color: #FFFFFF;

}

#uc-cart-view-form table, #uc-cart-checkout-form table {

	margin-bottom: 20px;

}

.uc-cart-checkout-form input[type=text], .uc-cart-checkout-form input[type=email],

.uc-cart-checkout-form select, .uc-cart-checkout-form input[type=tel] {

	display: block;

    height: 34px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 1.42857143;

    color: #555;

    background-color: #fff;

    background-image: none;

    border: 1px solid #ccc;

    border-radius: 4px;

    margin-bottom: 10px;

}

.form-uc-quantity {

	text-align: center;

}

.shopping-cart {

    position: absolute;

    top: 100%;

    background-color: #fff;

    -webkit-background-clip: padding-box;

    background-clip: padding-box;

    border: 1px solid #ccc;

    border: 1px solid rgba(0,0,0,.15);

    border-radius: 4px;

    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);

    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    z-index: 1000;

    width: 400px;

    right: 0;

    padding: 30px;

    display: none;

}

.subscribe_area {

	padding-bottom: 100px;

}

.login_register_area .list-tasks {

	border-bottom: 2px solid #eee;

	list-style: none;

	overflow: hidden;

	margin-bottom: 20px;

}

.login_register_area .list-tasks li {

	margin-bottom: 0px;

	float: left;

}

.login_register_area .list-tasks li a {

    margin: 0px;

    border: 0px;

    color: #333;

    font-size: 12px;

    font-weight: 600;

    letter-spacing: 1px;

    text-transform: uppercase;

    position: relative;

    cursor: default;

    background-color: #fff;

    line-height: 1.42857143;

    display: block;

    padding: 10px 15px;

}



.login_register_area .list-tasks li a:after {

    content: "";

    position: absolute;

    bottom: -2px;

    left: 0;

    width: 0px;

    height: 2px;

    background-color: #333;

    -webkit-transition: all .3s;

    -o-transition: all .3s;

    transition: all .3s;

}

.login_register_area .list-tasks li > a:hover {

	text-decoration: none;

}

.login_register_area .list-tasks li > a.is-active:hover, .login_register_area .list-tasks li > a:hover {

    border-bottom: 2px solid #333;

    cursor: pointer;

}

.login_register_area .list-tasks li > a.is-active {

	border-bottom: 2px solid #1cbac8;

}

.login_register_area .list-tasks li:first-child a {

	padding-left: 0px;

}

form.login label, form.search-page-form label {

	display: none;

}

form.login select {

	display: block;

    height: 34px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 1.42857143;

    color: #555;

    background-color: #fff;

    background-image: none;

    border: 1px solid #ccc;

    border-radius: 4px;

    margin-bottom: 10px;

}

.full-page-search form i.pe-7s-search {

	position: absolute;

	right: 2px;

    top: 28px;

    background-color: transparent;

    border: 0px;

    color: #333;

    font-size: 28px;

    outline: 0;

    box-shadow: none;

    font-weight: bold;

}

.full-page-search.open-search form input[type=submit] {

	top: 20px;

	right: 0;

	width: 40px;

	height: 50px;

	position: absolute;

}

.search-page-form  .form-control {

	width: auto;

	border-radius: 0;

}

form.search-page-form input.form-submit {

	color: #585858;

    background-color: #FFFFFF;

    text-transform: uppercase;

    font-size: 14px;

    text-decoration: none;

    border: 1px solid rgba(0,0,0,.2);

    padding: 6px 15px;

    margin-right: 5px;

    margin-bottom: 10px;

    -webkit-transition: all .5s;

    -o-transition: all .5s;

    transition: all .5s;

}

form.search-page-form input.form-submit:hover {

	background-color: #333;

	color: #FFF;

}

form.search-page-form .js-form-item {

	float: left;

}

.search-results li a {

	font-size: 20px;

	color: #333;

	font-weight: bold;

}

ol.search-results {

	counter-reset: awesome-counter;

	list-style-type: none;

}

ol.search-results li {

	margin-bottom: .5em;

    overflow: hidden;

    border-bottom: 1px solid #ddd;

	margin-bottom: 20px;

}

ol.search-results li:before {

    content: counter(awesome-counter);

    counter-increment: awesome-counter;

    font-size: 1.8em;

    margin-right: .2em;

    display: inline-block;

    vertical-align: middle;

	color: #333;

	float: left;

	text-shadow: 1px 1px 0 #fff, 1px 2px 0 #333;

}

.md-object a {

	width: auto !important;

	height: auto;

}

.md-object {

	width: auto !important;

}

.text-letter-10 {

	letter-spacing: 10px;

}

#toolbar-bar {

	overflow: hidden;

}

.contextual {

	z-index: 9999;

}

.admin-logged .simplenews-subscriber-form form {

	display: none;

}

.list-tasks {
	margin-bottom: 20px;
	overflow: hidden;
	text-align: center;
	margin-top: 20px;
}
.list-tasks li {
	display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    margin-right:20px;
}
.contact_area form label {
	display: none;
}
.blog_page .col-md-12 .row .col-md-4:nth-child(3n+1) {
	clear: left;
}
.blog_page .col-md-12 .row .col-lg-3.col-md-4:nth-child(3n+1) {
	clear: none;
}
.blog_page .col-md-12 .row .col-lg-3.col-md-4:nth-child(4n+1) {
	clear: left;
}