/*---------------------------------------
CONTACT US
-----------------------------------------*/
.contact_area{
  padding-top: 120px;
  padding-bottom: 120px;
}
.contact_inner{}
.contact_item{}
.contact_item i{
  font-size: 25px;
  color: #1cbac8;
}
.contact_item h3{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.contact_item h5{
  margin: 0;
  color: #585858;
  font-size: 14px
}
.contact_inner form{
  padding-top: 80px;
}
.contact_inner form .form-control, .contact_inner form .form-control:active, .contact_inner form .form-control:visited, .contact_inner form .form-control:focus{
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: none;
  outline: 0;
  height: 35px;
  border-radius: 0px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.contact_inner form .form-control:focus{
  border: 1px solid #333;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
#Message{
  height: 85px;
  resize:none;
}

.contact_inner form .form-control::-webkit-input-placeholder {
  color: #585858;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
}
.contact_inner form .form-control:-moz-placeholder {
  color: #585858;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
}
.contact_inner form .form-control::-moz-placeholder {
  color: #585858;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
}
.contact_inner form .form-control:-ms-input-placeholder {
  color: #585858;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
}
.btn-dm, .btn-dm:visited, .btn-dm:active, .btn-dm:focus{
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0px;
  outline: 0!important;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  width: 100%;
}
.btn-dm:hover{
  color: #333;
  background-color: transparent;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.show_result{
  text-align: center;
  top: 40px;
  position: relative;
}

@media(max-width: 768px){
  .contact_item{
    padding-bottom: 50px;
  }
}
