/*---------------------------------------
SERVICE
-----------------------------------------*/
.service{
  padding-top: 120px;
}
.service_tab{

}

.tab_left_image{
  background-size: cover;
  height: 500px;
  position: relative;
}
.number {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100px;
  text-align: center;
}
.number h2{
  font-size: 82px;
  font-weight: 600;
  color: #1cbac8;
  position: relative;
  display: inline-block;
}
.tab_left_image h2:after{
  content: "";
  position: absolute;
  bottom: -18px;
  right: 13px;
  width: 115px;
  height: 5px;
  background-color: #1cbac8;
}

.tab_right_desc{
  height: 500px;
  background-color: #111;
  position: relative;
}
.tab_right_desc h2{
  margin: 0px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 7px;
  position: absolute;
  left: -150px;
  transform: rotate(-90deg);
  top: 185px;
  width: 400px;
  height: 50px;
}
.inner_tab_desc{
  position: absolute;
  bottom: 88px;
  width: 100%;
  padding: 0px 100px;
}
.inner_tab_desc i{
  color: #1cbac8;
  font-size: 50px;
}
.inner_tab_desc h5{
  color: #7a7a7a;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
  margin-top: 30px;
}
.inner_tab_desc h6{
  color: #7a7a7a;
  font-weight: 600;
  position: relative;
  padding-left: 20px;
}
.inner_tab_desc h6:after{
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: #7a7a7a;
}
.inner_tab_desc p{
  font-size: 14px;
  line-height: 23px;
  color: #7a7a7a;
  margin-top: 40px;
  margin-bottom: 0px;
}
.service_tab .nav-tabs{
  border: 0px;
  text-align: center;
  padding-bottom: 40px;
}
.service_tab .nav-tabs > li {
  float: none;
  margin-bottom: 0;
  display: inline;
}
.service_tab .nav-tabs > li > a{
  display: inline-block;
  border-radius: 0px;
  border: 0px;
  color: #585858;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 25px;
}
.service_tab .nav-tabs > li > a i{
  display: block;
  font-size: 40px;
  margin-bottom: 15px;
  color: #9a9a9a;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.service_tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border: 0px;
  background-color: transparent;
}
.service_tab .nav-tabs > li.active > a i{
  color: #333;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.service_tab .nav-tabs > li.active > a{
  position: relative;
}
.service_tab .nav-tabs > li.active > a:after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #1cbac8;
  margin-left: -15px;

}
.service_tab .nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent;
}
@media(max-width: 991px){
  .service_tab .nav-tabs > li > a{
    margin: 20px;
  }
}

@media(max-width: 768px){
  .service_tab .nav-tabs > li > a{
    margin: 5px;
    font-size: 9px;
    padding: 5px;
  }
}
@media(max-width: 520px){
  .service_tab .nav-tabs > li > a{
    display: block;
    margin-bottom: 40px;
  }
}
@media(max-width: 500px){
  .tab_right_desc{
    height: auto;
  }
  .tab_right_desc h2{
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    padding: 15px;
    padding-top: 50px;
    height: auto;
  }
  .inner_tab_desc{
    position: relative;
    bottom: 0px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}