/*Single Blog*/
.blog_details_single{
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.featured_image_single{}
.featured_image_single img{
  width: 100%;
}
.blog_content_single{
  padding-top: 20px;
}
.blog_content_single h2{
  margin: 0px;
  margin-bottom: 10px;
  line-height: 14px;
}
.blog_content_single h2 a{
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px;
  margin-bottom: 10px;
  text-decoration: none;
}
.blog_content_single h4{
  font-size: 12px;
  color: #585858;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.blog_content_single h4 a{
  color: #585858;
  text-decoration: none;
}
.blog_content_single h4 a:hover{
  color: #333;
}
.blog_content_single p{
  margin-top: 25px;
  color: #585858;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
.blog_content_single blockquote p{
  font-size: 16px;
  color: #585858;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.blog_content_single blockquote h4{
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
}