

/*Pagination*/
.pagination_area{
  clear:both;
  border-top: 1px solid #eee;
  padding-top: 30px;
  padding-bottom: 30px;
  nav {
    width:178px;
    margin: 0 auto;
  }
}
.pagination_area nav{
  border-bottom: 0;
}
ul.pagination{}
ul.pagination li{}
ul.pagination li a{
  border-radius: 0;
  border: 1px solid $baseMenuColor;
  color: $baseMenuColor;
  font-weight: 600;
  font-size: 12px;
  padding: 8px 15px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
ul.pagination li a:hover{
  color: #fff;
  background-color: $baseMenuColor;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border: 1px solid $baseMenuColor;
}
ul.pagination li.active a, ul.pagination li.active a:hover, ul.pagination li.active a:focus, ul.pagination li.active a:visited{
  background-color: $baseMenuColor;
  color: #fff;
  border-color: $baseMenuColor;
}
ul.pagination li a.prev{
  border-radius: 0;
  border: 1px solid $baseMenuColor;
  color: $baseMenuColor;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  background-color: transparent;
  padding: 8px 20px;
  margin-right: 50px;
}
ul.pagination li a.prev:hover{
  background-color: $baseMenuColor;
  color: #fff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
ul.pagination li a.next{
  border-radius: 0;
  border: 1px solid $baseMenuColor;
  color: $baseMenuColor;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  background-color: transparent;
  padding: 8px 20px;
  margin-left: 50px;
}
ul.pagination li a.next:hover{
  background-color: $baseMenuColor;
  color: #fff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
@media(max-width: 500px){
  ul.pagination li a.prev{
    margin-right: 15px;
  }
  ul.pagination li a.next{
    margin-left: 15px;
  }
}
@media(max-width: 420px){
  ul.pagination li a{
    padding: 5px 10px;
  }
  ul.pagination li a.prev{
    padding: 5px 15px;
  }
  ul.pagination li a.next{
    padding: 5px 15px;
  }
}
@media(max-width: 350px){
  ul.pagination li a.prev{
    margin-right: 5px;
  }
  ul.pagination li a.next{
    margin-left: 5px;
  }
}
@media(max-width: 330px){
  ul.pagination li a.prev{
    font-size: 10px;
    padding: 5px 10px;
  }
  ul.pagination li a.next{
    font-size: 10px;
    padding: 5px 10px;
  }
  ul.pagination li a{
    font-size: 10px;
  }
}
