body.admin-logged .navbar-fixed-top,
body.toolbar-fixed .navbar-fixed-top {
  top: 80px;
  z-index: 99;
}

.top-bar-menu {
  padding-left: 0;
  ul li:first-child a span{
    display: block;
    text-indent: -9999px;
    float: left;
    height: 1px;
    width: 1px;
  }
}

