.ctoa-link {
  padding-right:5px;
  a {
    color:$baseColor;
    text-transform: uppercase;
    padding:10px 50px 10px 50px;
    border:1px solid $baseColor;
    display: block;
    text-align: center;
  }
}

#call-to-actions-body {
  padding: 30px 0 30px 0;
}

@include mobile-break-points('phone', "min") {
  .ctoa-link {
    padding-right:inherit;
    a {
      margin-right:10px;
    }
  }
}
