.ncta {
  img{
    display:block;
    width:130px;
    margin:0 auto;
  }
  .text-center{
    vertical-align: middle;
    height: 65px;
  }
}

@include mobile-break-points('phone', "min") {
  .ncta {
    img{
      width:50px;
      margin-right:45px;
    }
  }
}
