{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}
<main role="main">
  {% if title %}
    <h1 class='hide'>{{ head_title }}</h1>
  {% endif %}
  <article>
    <h2><span id='logo'></span><span class="title">{{head_title}}</span></h2>
    <div class='inline'>
        {{ page.content }}
    </div>
  </article>
</main>