.contactform {
  textarea,
  input{
    width:100%;
    padding:5px;
      margin-bottom: 15px;
  }
  textarea {
    height: 132px;
    margin-bottom:0;
  }
  input[type="submit"] {
    margin-top: 10px;
  }
  #edit-preview{
    display:none;
  }
}