/*ACCORDION*/
.single_accordion{
  padding-bottom: 30px;
}
.short_code_title{
  padding-bottom: 20px;
}
.short_code_title h2{
  margin: 0px;
  font-size: 16px;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
}
.short_code_title p{
  color: #585858;
  font-size: 14px;
  line-height: 22px;
}

/*STYLE ONE*/

.accordion_inner{}
.style_one .panel-group .panel{
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  margin-bottom: 15px;
}
.style_one .panel-default > .panel-heading{
  padding: 0px;
  background-color: transparent;
  border-color: #ddd;
  border: 1px solid #eee;
  border-radius: 0px;
}
.style_one .panel-heading .panel-title a{
  padding: 14px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
}
.style_one .panel-default > .panel-heading + .panel-collapse > .panel-body{
  border-top: 0px;
  color: #585858;
}

/*STYLE TWO*/
.style_two .panel-group .panel{
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  margin-bottom: 15px;
}
.style_two .panel-default > .panel-heading{
  padding: 0px;
  background-color: #eee;
  border-color: #ddd;
  border: 1px solid #eee;
  border-radius: 0px;
}
.style_two .panel-heading .panel-title a{
  padding: 14px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
}
.style_two .panel-default > .panel-heading + .panel-collapse > .panel-body{
  border-top: 0px;
  color: #585858;
}