
/*GRID*/
.grid_title{
  padding-top: 30px;
  padding-bottom: 30px;
}
.grid_title h2{
  color: #333;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 5px;
  position: relative;
}
.grid_title p{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #585858;
  margin-top: 10px;
}
.inner_messages{

}