/*LOG IN PAGE*/
.login_page{
  background-color: #f8f8f8;
  height: 100vh;
}
.log_in_logo{
  padding-top: 200px;
  padding-bottom: 20px;
  position: relative;
}
.log_in_logo img{}
.log_in_box{
  width: 450px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  position: relative;
}
.login_title{}
.login_title h2{
  font-size: 16px;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
}
.login  .form-group{
  margin-bottom: 20px;
}
.login .form-control, .login .form-control:focus, .login .form-control:active, .login .form-control:visited{
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: none;
  outline: 0;
  height: 35px;
  border-radius: 0px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn-login, .btn-login:active, .btn-login:focus, .btn-login:visited{
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  display: block;
  width: 100%;
  border-radius: 0px;
  height: 35px;
  letter-spacing: 1px;
  box-shadow: none;
  outline: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn-login:hover{
  color: #fff;
  background-color: #1cbac8;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.login_social{}
.login_social ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.login_social ul li{
  display: inline;
}
.login_social ul li a{
  display: inline-block;
  float: left;
  width: 49%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
}
.login_social ul li a.fb_login{
  margin-right: 1%;
  background-color: #3b5999
}
.login_social ul li a.twitter_login{
  margin-left: 1%;
  background-color: #63c6ff;
}
.login .check_login{
  margin-top: 20px;
  margin-bottom: 0px;
}
.check_login label{
  font-weight: 400;
  font-size: 14px;
  color: #585858;
}
.check_login a{
  color: #585858;
  font-size: 14px;
  text-decoration: none;
}
.image_bg{
  background-image: url(../images/mountain.jpg);
  background-size: cover;
  position: relative;
}
.image_bg:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
}
.login_register_area{
  padding-top: 100px;
  padding-bottom: 100px;
}
.tab_login_register{
  padding-top: 20px;
}