/*---------------------------------------
PROMOBOX
-----------------------------------------*/
/*one*/

.single_promo_box_one i{
  color: #9a9a9a;
  font-size: 40px;
  text-align: center;
}
.single_promo_box_one h2{
  color: #333;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
}
.single_promo_box_one h2:after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #1cbac8;
}
.single_promo_box_one p{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #585858;
  margin-top: 40px;
}
@media(max-width: 991px){
  .single_promo_box_one{
    padding-bottom: 30px;
  }
}
/*two*/
.single_promo_box_two div{
  width: 70px;
  height: 70px;
  background-color: #333;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.single_promo_box_two i{
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 70px;
}
.single_promo_box_two h2{
  color: #333;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
}
.single_promo_box_two h2:after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #1cbac8;
}
.single_promo_box_two p{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #585858;
  margin-top: 40px;
}
@media(max-width: 991px){
  .single_promo_box_two{
    padding-bottom: 30px;
  }
}
.single_promo_box_two:hover div{
  background-color: #1cbac8;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/*promobox 3*/
.single_promo_box_three{}
.single_promo_box_three div{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #1cbac8;
  margin: 0 auto;
  position: relative;
  text-align: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.single_promo_box_three div:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border: 2px solid #1cbac8;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.single_promo_box_three div i{
  color: #1cbac8;
  font-size: 25px;
  text-align: center;
  line-height: 70px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.single_promo_box_three h2{
  color: #333;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
}

.single_promo_box_three p{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #585858;
  margin-top: 40px;
}
.single_promo_box_three:hover div{
  background-color: #1cbac8;
}
.single_promo_box_three:hover div:after{
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 80px;
  height: 80px;
  border: 2px solid #1cbac8;
  opacity: 1;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.single_promo_box_three:hover div i{
  color: #fff;
}

/*PROMO FOUR*/
.single_promo_box_four{
  position: relative;
  padding-left: 50px;
}
.single_promo_box_four div{
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
}
.single_promo_box_four div i{
  font-size: 25px;
  color: #1cbac8;
}
.single_promo_box_four h2{
  color: #333;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
}
.single_promo_box_four p{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #585858;
}

/*PROMO 5*/
.single_promo_box_five{
  position: relative;
  padding-left: 50px;
}
.single_promo_box_five div{
  position: absolute;
  top: -5px;
  left: 0;
}
.single_promo_box_five div h5{
  font-size: 30px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  margin: 0px;
  color: #bbb;
}
.single_promo_box_five h2{
  color: #333;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
}
.single_promo_box_five p{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #585858;
}

/*GRID*/
.grid3{
  width: 33.333333%;
  float: left;
}
.bg_promobox{}
.single_bg_promobox{
  background-color: #f8f8f8;
  padding: 100px;
}
.single_bg_promobox h5{
  font-size: 30px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  margin: 0px;
  color: #bbb;
}
.single_bg_promobox h2{
  color: #333;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
}
.single_bg_promobox p{
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #585858;
  margin-bottom: 20px;
}
.btn_more, .btn_more:active, .btn_more:visited, .btn_more:focus{
  background-color: #333;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0 !important;
  border-radius: 0px;
  padding: 9px 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 0px solid #333;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 10px 25px;
}
.btn_more:hover{
  background-color: #1cbac8;
}
.type_two{
  background-color: #222;
}
.type_two h2, .type_two p{
  color: #fff;
}

@media(max-width: 1200px){
  .single_bg_promobox{
    height: 460px;
  }
}
@media(max-width: 991px){
  .grid3{
    width: 100%;
  }
  .single_promo_box_three{
    padding-bottom: 30px;
  }
  .single_promo_box_four{
    padding-bottom: 30px;
  }
  .single_promo_box_five{
    padding-bottom: 30px;
  }
}
/*END PROMO BOX STYLE*/