/*---------------------------------------
SLIDER
-----------------------------------------*/
.rev_slider{
  overflow: hidden;
}
.tp-dottedoverlay.twoxtwo{
  background-image: none;
  background-color: rgba(0,0,0,.5);
}
.h-title-big{
  color: #fff;
  font-size: 40px;
  font-weight: 600 !important;
  letter-spacing: 5px;
}
.h-title-ex-big{
  color: #fff;
  font-weight: 600;
  letter-spacing: 10px;
}
.h-sec-title-big{
  color: #fff;
  letter-spacing: 2px;
}
.p-desc{
  font-size: 15px;
  color: #fff;
}
.rotate{
  color: #1cbac8;
}
/*END SLIDER CUSTOM STYLE*/