
.widget {
  clear: both;
  .s-image {
    width: 60px;
  }

  .m-image {
    width: 80px;
  }

  .l-image {
    width: 100px;
  }


  .i-pull-left {
    margin: 0 auto;
  }

  .t-pull-left {}

  .w-text {
    h4 {
      width: 100%;
      font-weight: bold;
      text-align: center;
    }
  }
  .w-image { }
}

@include mobile-break-points('phone', "min") {
  .widget {
    .i-pull-left {
      float:left;
      margin:0 20px 100px 0;
    }

    .t-pull-left {}

    .w-text {
      h4 {
        text-align: left;
      }
    }
    .w-image { }
  }
}

@include mobile-break-points('tablet', "min") {
  .widget {
    clear: none;
  }
}
